<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
        <link href="/static/styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a href="/dashboard"><img src="/static/styles/gw_logo.png" alt="GW Logo" width="40" height="30"></a>
            <p class="topnav_page_nm">Course Catalog</p>
            <a style="float:right" href="/logout">Logout</a>
        </div></br>
        <h3><a href="/dashboard">Dashboard</a></h3>
        <table>
            <tr>
                <th>Course ID</th>
                <th>Department and Number</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Prerequistes Page</th>
            </tr>
        {% for course in courses %}
            <tr>
                <td>{{course[0]}}</td> 
                <td>{{course[1]}} {{course[2]}}</td> 
                <td>{{course[3]}}</td> 
                <td>{{course[4]}}</td>
                <td><a href = "/prereqs/{{course[0]}}">Prequisites</a></td>
            </tr>

        {% endfor %}
        </table>
    </body>
</html>