<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="/static/styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a href="/dashboard"><img src="/static/styles/gw_logo.png" alt="GW Logo" width="40" height="30"></a>
            <p class="topnav_page_nm">Welcome to Monsters University!</p>
            <!-- <a style="float:right" href="/logout">Logout</a> -->
          </div></br>
        <h2>{{msg}} {{id}}<h2>
        <h4 style="text-align: center;"><a href="/login">Login</a></h4>
        <h4 style="text-align: center;"><a href="/register">Register</a></h4>
        <h4 style="text-align: center;"><a href="/recletter">Submit A Recommendation</a></h4>
    </body>
</html>