<!DOCTYPE html>
<html>
    <head>
        <title>Prerequisites</title>
        <link href="/static/styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a href="/dashboard"><img src="/static/styles/gw_logo.png" alt="GW Logo" width="40" height="30"></a>
            <p class="topnav_page_nm">Prerequisites Page</p>
            <a style="float:right" href="/logout">Logout</a>
        </div></br>
        {% if len == 0 %}
        <h2>There are no prerequisites</h2>
        {% else %}
        <table>
            <tr>
                <th>Course ID</th>
                <th>Department and Number</th>
                <th>Name</th>
                <th>Credits</th>
            </tr>
            {% for prereq in prereqs %}
                <tr>
                    <td>{{prereq[2]}}</td>
                    <td>{{prereq[3]}} {{prereq[4]}}</td>
                    <td>{{prereq[5]}}</td>
                    <td>{{prereq[6]}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>