<!DOCTYPE html>
<html>
    <head>
        <title>Semester Change</title>
        <link href="static/styles/styles.css" rel="stylesheet">
        <script src="/static/styles/java_script.js"></script>

    </head>
    <body>
        <div class="topnav">
            <a href="/dashboard"><img src="/static/styles/gw_logo.png" alt="GW Logo" width="40" height="30"></a>
            <p class="topnav_page_nm">Semester Change</p>
            <a style="float:right" href="/logout">Logout</a>
        </div></br>
        <p class="err">Select the semester to register classes for by number</p>
        {% if error %}
            <script>alert("{{error}}");</script>
        {% endif %}
        <p class="err">0 = Spring 2022, 1 = Fall 2022, etc.</p>

        <form name = "sem"  onsubmit = "return validateSemester()" action="/set_year" method="POST">
            <table> 
                <tr>
                    <th>Semester Number</th>
                </tr>
                <tr>
                    <td><input type="number" name= "sem_no" min ="0" max ="3"></td>
                    <td colspan="6"><input type="submit"></td>
                </tr>
                
            </table>
        </form></br>
        <h3 style="text-align: center;"><a href="/dashboard">Back to Dashboard</a></h3>
    </body>