<!DOCTYPE html>
<html>
<head>
        <link href="/static/styles/styles.css" rel="stylesheet">
<title>Students</title>
<script src="/static/styles/java_script.js"></script>

</head>
<body>
    <div class="topnav">
        <a href="/dashboard"><img src="/static/styles/gw_logo.png" alt="GW Logo" width="40" height="30"></a>
        <p class="topnav_page_nm">Student Information</p>
        <a style="float:right" href="/logout">Logout</a>
    </div></br>
    {% if error %}
    <h2>{{error}}</h2>
    {% endif %}
    <h3><a href="/dashboard">Dashboard</a></h3>
    <form name="s_search" onsubmit = "return students_validateForm()"action="/allstudents" method="POST">
        <table> 
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td><input type="text" name= "student_id"></td>
                <td><input type="text" name= "fname"></td> 
                <td><input type="text" name = "lname"></td>
                <td colspan="6"><input type="submit" name="submit_search"></td>
            </tr>
            
        </table>
    </form>    
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email Address</th>
            <!-- <th>Phone Number</th> -->
            <th>Degree</th>
            <th>Major</th>
            <th>Year of Admission</th>
            <th>Faculty Advisor</th>
            <th>GPA</th>
            <th>Thesis</th>
            <th>Graduation Status</th>

        </tr>
        {% for student in students %}
        <tr>
            <td>{{student[0]}}</td>
            <td>{{student[1]}}</td>
            <td>{{student[2]}}</td>
            <td>{{student[3]}}</td>
            <td>{{student[4]}}</td>
            <!-- <td>{{student[5]}}</td> -->
            <td>{{student[6]}}</td>
            <td>{{student[7]}}</td>
            <td>{{student[8]}}</td>
            <td>
                <table class = "subtable">
                    {% if student[9] == 0 %}
                    <tr><td>None</td></tr>
                    {% else %}
                    <tr><td>{{student[9]}}</td></tr>
                    {% endif %}
                    {% if session['typeuser'] == 'gradsecretary' %}
                    <tr><td><form method = "POST">
                        <input type = "Text" name = "advisor_id" placeholder="Advisor ID">
                        <input type = "hidden" name = "student_id" value = {{student[0]}}>
                        <input type="submit", name="Submit", value="Submit">
                    </form></td></tr>
                    {% endif %}

                </table>
            </td>
            <td>{{student[10]}}</td>
            {% if student[6] == 'PHD' %}
                <td>
                    <table class = "subtable">
                        <tr>
                            <th>Submitted</th>
                            <th>Thesis Approved</th>
                        </tr>
                        <tr>
                            {% if student[11] != '' %}
                            <td>Yes</td> 
                            <td>
                                {% if student[12] == 1 %}
                                Yes
                                {% elif student[12] == 0 %}
                                No
                                {% endif %}
                            </td>

                            {% else %}
                            <td>No</td>
                            <td>N/A</td>
                            {% endif %}
                        </tr>
                    </table>
                </td>
            {% elif student[6] == 'MS' %}
            <td>N/A</td>
            {% endif %}
            
            {% if student[13] == 1 and student[14] != 'alumni'%}
                <form action="/graduate_to_alum" method="POST">
                    <td> <input type="submit" class="viewcBtn" name="Approve for Graduation" value="Graduate"> </td>
                    <input type='hidden' name='cur_student_ID' value="{{student[0]}}">
                </form> 
            {% else %}
                <td>{{student[13]}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>